.admin-register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #0F2F57,
    #1E4E8C,
    #2D6CB3
  );
}

.admin-register-form {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);

  padding: 45px;
  border-radius: 18px;
  width: 400px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
}

.admin-register-form h2 {
  text-align: center;
  margin-bottom: 25px;
  color: white;
  font-weight: 700;
}

.admin-register-form input {
  margin-bottom: 18px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.admin-register-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.admin-register-form button {
  padding: 12px;
  border-radius: 8px;
  border: none;

  background: #F7941D;
  color: white;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s ease;
}

.admin-register-form button:hover {
  background: #e67e00;
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

.error {
  color: #ff6b6b;
  margin-bottom: 10px;
  text-align: center;
}
