.view-all-container {
  margin: 40px 0 60px 0;
  text-align: center;
}

.view-all-btn {
  padding: 14px 35px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;

  background: #F7941D;
  color: white;
  border: none;
  cursor: pointer;

  transition: 0.3s ease;
}

.view-all-btn:hover {
  background: #e67e00;
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}
